/* index.css or App.module.css */
/* @import url('https://fonts.cdnfonts.com/css/gazpacho'); or Fontshare/CDN URL */
/* 
:root {
  --font-primary: 'Gazpacho', sans-serif;
} */

body {
  font-family: var(--font-primary);
}

:root {
  --font-primary: 'Poppins', sans-serif;
  /* --font-leftpanel: 'Gazpacho', sans-serif; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
